body{
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#profile-pic{
    width: 70%;
    padding: 10px;
    margin: 30px;
}

hr{
    border-top: dotted 10px #ccc;
    width: 10%;
}

h1, h3{
    color: #1C658C;
}